# ------------------------------------------------------------------------------
# Terraform
# ------------------------------------------------------------------------------

# Terraform working directory
**/.terraform/*

# Terraform state files
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars

# Keep the dependency lock file
!.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Terraform crash logs
crash.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ------------------------------------------------------------------------------
# Environment Variables
# ------------------------------------------------------------------------------

.env
.env.*

# ------------------------------------------------------------------------------
# Logs
# ------------------------------------------------------------------------------

*.log

# ------------------------------------------------------------------------------
# IDE
# ------------------------------------------------------------------------------

.vscode/
.idea/

# ------------------------------------------------------------------------------
# Operating System
# ------------------------------------------------------------------------------

.DS_Store
Thumbs.db
