# ------------------------------------------------------------------------------
# Terraform
# ------------------------------------------------------------------------------

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan

# Keep the Terraform dependency lock file
!.terraform.lock.hcl

# ------------------------------------------------------------------------------
# Environment Variables
# ------------------------------------------------------------------------------

.env
.env.*

# ------------------------------------------------------------------------------
# Logs
# ------------------------------------------------------------------------------

*.log

# ------------------------------------------------------------------------------
# IDE
# ------------------------------------------------------------------------------

.vscode/
.idea/

# ------------------------------------------------------------------------------
# Operating System
# ------------------------------------------------------------------------------

.DS_Store
Thumbs.db
